<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<script src="https://use.fontawesome.com/38a59bd69f.js"></script>
	<%-stylesheets%>
</head>
<body>
	<div class="wrap">
		<div class="profile">
			<%-body -%>
		</div>
		<main>
			<div class="palette-wrap" id="space">
				<div class="palette palette-30" id="palette">
					<div class="color space" id="0" style="background-color: #ffffff"></div>
					<div class="color space" id="1" style="background-color: #ffffff"></div>
					<div class="color space" id="2" style="background-color: #ffffff"></div>
					<div class="color space" id="3" style="background-color: #ffffff"></div>
					<div class="color space" id="4" style="background-color: #ffffff"></div>
					<div class="color space" id="5" style="background-color: #ffffff"></div>
					<div class="color space" id="6" style="background-color: #ffffff"></div>
					<div class="color space" id="7" style="background-color: #ffffff"></div>
					<div class="color space" id="8" style="background-color: #ffffff"></div>
					<div class="color space" id="9" style="background-color: #ffffff"></div> 
					<div class="color space" id="10" style="background-color: #ffffff"></div>
					<div class="color space" id="11" style="background-color: #ffffff"></div> 
					<div class="color space" id="12" style="background-color: #ffffff"></div>
					<div class="color space" id="13" style="background-color: #ffffff"></div>
					<div class="color space" id="14" style="background-color: #ffffff"></div>
					<div class="color space" id="15" style="background-color: #ffffff"></div>
					<div class="color space" id="16" style="background-color: #ffffff"></div>
					<div class="color space" id="17" style="background-color: #ffffff"></div>
					<div class="color space" id="18" style="background-color: #ffffff"></div>
					<div class="color space" id="19" style="background-color: #ffffff"></div>
					<div class="color space" id="20" style="background-color: #ffffff"></div>
					<div class="color space" id="21" style="background-color: #ffffff"></div>
					<div class="color space" id="22" style="background-color: #ffffff"></div>
					<div class="color space" id="23" style="background-color: #ffffff"></div>
					<div class="color space" id="24" style="background-color: #ffffff"></div>
					<div class="color space" id="25" style="background-color: #ffffff"></div>
					<div class="color space" id="26" style="background-color: #ffffff"></div>
					<div class="color space" id="27" style="background-color: #ffffff"></div>
					<div class="color space" id="28" style="background-color: #ffffff"></div>
					<div class="color space" id="29" style="background-color: #ffffff"></div>
				</div>
			</div>
			<div class="color-value-panel" id="colorValuePanel">
				<div class="manual">
					<div class="rgb color-wrap" id="rgb">
						<div class="color-label">RGB</div> 
						<textarea maxlength="3" class="color-value" id="rgb-r"></textarea>  
						<textarea maxlength="3" class="color-value" id="rgb-g"></textarea>  
						<textarea maxlength="3" class="color-value" id="rgb-b"></textarea>  
					</div>
					<div class="cmyk color-wrap" id="cmyk">
						<div class="color-label">CMYK</div>
						<textarea maxlength="3" class="color-value cmyk" id="cmyk-c"></textarea> 
						<textarea maxlength="3" class="color-value cmyk" id="cmyk-m"></textarea> 
						<textarea maxlength="3" class="color-value cmyk" id="cmyk-y"></textarea> 
						<textarea maxlength="3" class="color-value cmyk" id="cmyk-k"></textarea> 
					</div>
					<div class="hsv color-wrap" id="hsv">
						<div class="color-label">HSV</div>
						<textarea maxlength="3" class="color-value" id="hsv-h"></textarea> 
						<textarea maxlength="3" class="color-value" id="hsv-s"></textarea> 
						<textarea maxlength="3" class="color-value" id="hsv-v"></textarea> 
					</div>
					<div class="hsl color-wrap" id="hsl">
						<div class="color-label">HSL</div>
						<textarea maxlength="3" class="color-value" id="hsl-h"></textarea> 
						<textarea maxlength="3" class="color-value" id="hsl-s"></textarea> 
						<textarea maxlength="3" class="color-value" id="hsl-l"></textarea> 
					</div>
					<div class="hex color-wrap" id="hex">
						<div class="color-label">Hex</div>
						<textarea maxlength="7" class="color-value hex" id="hex"></textarea> 
					</div>
					<div class="lab color-wrap" id="lab">
						<div class="color-label">Lab</div>
						<textarea maxlength="3" class="color-value" id="lab-l"></textarea> 
						<textarea maxlength="3" class="color-value" id="lab-a"></textarea> 
						<textarea maxlength="3" class="color-value" id="lab-b"></textarea> 
					</div>				
				</div>				
				<div class="palette-buttons">
					<button class="buttons">
						<i class="fa fa-table" aria-hidden="true"></i><i class="fa fa-cog" aria-hidden="true"></i>
					</button>
					<button class="buttons" id="collapse_button"><i class="fa fa-compress" aria-hidden="true"></i><!--<i class="fa fa-expand" aria-hidden="true"></i>--></button>
					<button class="buttons"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
					<button class="buttons"><i class="fa fa-link" aria-hidden="true"></i></button>
					<button class="buttons"><i class="fa fa-file" aria-hidden="true"></i></button>
					<button class="buttons disabled"><i class="fa fa-lock" aria-hidden="true"></i></button>					
				</div>
				<!-- 
				<div class="visual">
					<div class="gradient-box"></div>
					<div class="color-slider"></div>
				</div> -->
			</div>
		</main>
		<div class="menu">
			<div class="menu-headed">Ваши палитры</div>	
			<div class="palette-container">
				<div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div>
				<div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div><div class="saved-palette">
					<div class="color-cell" style="background-color: #4040ff"></div>
					<div class="color-cell" style="background-color: #0000ff"></div>
					<div class="color-cell" style="background-color: #4646b9"></div>
					<div class="color-cell" style="background-color: #6c6c93"></div>
					<div class="color-cell" style="background-color: #5540bf"></div>
					<div class="color-cell" style="background-color: #5419bf"></div>
					<div class="color-cell" style="background-color: #7800bf"></div>
					<div class="color-cell" style="background-color: #6b2f8e"></div>
					<div class="color-cell" style="background-color: #704575"></div>
					<div class="color-cell" style="background-color: #19539e"></div>
					<div class="color-cell" style="background-color: #19699e"></div>
					<div class="color-cell" style="background-color: #306588"></div>
				</div>
			</div>
			<div class="menu-footer"></div>
		</div>
	</div>	
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<%-scripts%>
</body>
</html>