<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Palette</title>
	<link rel="stylesheet" href="/css/style.css">	
</head>
<body>
	<div class="wrap">
		<div class="profile">
			<div class="auth">
				<div class="label">Логин</div>
				<textarea class="input_text" id="login"></textarea>
				<div class="label">Пароль</div>
				<textarea class="input_text" id="password"></textarea>
				<button class="btn" id="login_button">Войти</button>
				<button class="btn" id="registration_form_button">Регистрация</button>
				<a href="/fogot_password" class="forgot_password">Забыли пароль?</a>
			</div>
		</div>
		<main>
		</main>
		<div class="menu">		
		</div>
	</div>	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>