<% layout('mainLayout') -%>
<% script('/js/index.js') -%>
<% stylesheet('/css/style.css') -%>
<div class="user">
	<div class="user-name"><%=name%></div>
	<button class="btn" id="logout_button">Выйти</button>
</div>
