<% layout('layouts/mainLayout') -%>
<% script('/js/index.js') -%>
<% stylesheet('/css/style.css') -%>
<div class="auth">
	<div class="label">Логин</div>
	<input class="input_text" id="login"></input> 
	<div class="label">Пароль</div>
	<input type="password" class="input_text" id="password"></input> 
	<button class="btn" id="login_button">Войти</button>
	<button class="btn" id="registration_form_button">Регистрация</button>
	<a href="/fogot_password" class="forgot_password">Забыли пароль?</a>
</div>
		