<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Palette</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="register-wrap">
		<div class="register">
			<div class="head">Быстрая регистрация<div class="register_close" id="register_close">X</div></div>
			<div class="form">
				<!-- <div class="label">Имя</div>
				<textarea class="input_text" id="login"></textarea>
				<div class="label">Логин</div>
				<textarea class="input_text" id="login"></textarea>
				<div class="label">Почта</div>
				<textarea class="input_text" id="login"></textarea>
				<div class="label">Пароль</div>
				<textarea class="input_text" id="login"></textarea>
				<div class="label">Повторите пароль</div>
				<textarea class="input_text" id="login"></textarea> -->
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="profile">
			<div class="auth">
				<div class="label">Логин</div>
				<textarea class="input_text" id="login"></textarea>
				<div class="label">Пароль</div>
				<textarea class="input_text" id="password"></textarea>
				<button class="btn" id="login_button">Войти</button>
				<button class="btn btn_selected" id="login_button">Регистрация</button>
				<a href="/fogot_password" class="forgot_password">Забыли пароль?</a>
			</div>
		</div>
		<main>
		</main>
		<div class="menu">		
		</div>
	</div>
</body>
</html>